@model HoaDon

<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div style="height:50px"></div>
                <h1 class="display-1">Thankiuu</h1>
                <h1 class="mb-4">Đặt hàng thành công! </h1>
                <h1 class="mb-4">Đơn đặt hàng với mã là: @Model.Id</h1>
                <p class="mb-4">Chúng tôi rất cảm kích vì đã tin tưởng và chọn chúng tôi để đáp ứng nhu cầu của quý khách. Đặt hàng của quý khách
                    không chỉ là một giao dịch mà còn là cơ hội cho chúng tôi được phục vụ và xây dựng mối quan hệ lâu dài với quý khách.</p>
                <a asp-controller="Home" asp-action="Index" class="btn border-secondary rounded-pill py-3 px-5" >Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>


