
bin/
obj/
out/


.vscode/
.env
*.user
*.suo
*.userosscache
*.sln.docstates


project.lock.json
*.pidb
*.ilk
*.pdb
*.log
*.svclog
*.orig
*.sdf
*.sqlite
*.db

.vs/
*.vscode/


.DS_Store
Thumbs.db


node_modules/
wwwroot/lib/
wwwroot/dist/


*.nupkg
packages/
.nuget/


**/[Dd]ockerfile
**/[Dd]ocker-compose*
